.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 100%;
  justify-self: stretch;

}

.button {
  width: 100%;
  padding: 0 8px !important;
  height: 40px;
  max-width: 100%;
  overflow: hidden;
  background-color: var(--pj-background-primary) !important;
  outline: transparent 2px dashed;
  transition: 150ms linear;
}

.modal {
  width: 250px !important;
  position: relative;
  background-color: var(--pj-background-secondary) !important;
  box-shadow: var(--pj-boxshadow);
  display: flex;
  flex-direction: column;
}
.noPadding{
    padding: 0 !important;
}

.searchWrapper {
  position: sticky;
  top: 0;
  background-color: var(--pj-background-primary) !important;
  z-index: 999;
  height: 25px;
  border-bottom: var(--pj-border-primary) 1px solid;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0 2px;
}

.nothing {
  user-select: none;
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--pj-color-secondary);
  height: 45px;
  padding: 8px;
  font-size: 0.7rem;
  font-weight: 550;
}

.hovered {
  outline: var(--pj-accent-color) 1px dashed;
  opacity: 0.5;
}

.content {
  max-width: 100%;
  display: grid;
  overflow: hidden;
}

.resetButton {
  height: 20px !important;
  width: 20px !important;
  padding: 0 !important;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resetButton:hover {
  color: var(--pj-accent-color) !important;
}

.resetButton > * {
  font-size: 1rem !important;
}
