.wrapper {
  font-weight: 550;
  display: flex;
  align-items: center;
  gap: 4px;
  height: 100%;
}

.button {
  width: 100%;
  padding: 4px !important;
  border-radius: 3px !important;
  border: var(--pj-border-primary) 1px solid;
  background: var(--pj-background-secondary);
  max-width: 100%;
  overflow: hidden;
  transition: 150ms linear;
  cursor: pointer;
  height: 43px;
}

.button[data-highlight="true"] {
  background: var(--pj-accent-color) !important;
  color: white !important;
}

.button[data-highlight="true"] > * {
  color: white !important;
}

.buttonType {
  font-size: 0.65rem;
  font-weight: normal;
  text-align: right;
  text-transform: capitalize;
  width: 100%;
}

/* OPTION */
.option {
  width: 75px;
  height: 75px;
  outline: none;
  border: var(--pj-border-primary) 1px solid;
  border-radius: 3px;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 2px;
  font-size: 0.7rem;
  font-weight: 550;
  color: var(--pj-color-secondary);
  text-align: center;
  background: var(--pj-background-secondary);
  cursor: pointer;
}

.option:hover {
  background: var(--pj-border-primary);
}

.option:active {
  background: var(--pj-border-primary);
  border-color: var(--pj-accent-color);
}

.option[data-highlight="true"] {
  background: var(--pj-accent-color) !important;
  color: white !important;
}

.option[data-highlight="true"] > * {
  color: white !important;
}

.modal {
  width: 326px !important;
  height: 326px !important;
  position: relative;
  background-color: var(--pj-background-tertiary) !important;
  box-shadow: var(--pj-boxshadow);


  align-content: flex-start;
  border-radius: 5px;
  color: var(--pj-color-secondary);
  overflow: hidden;
}

.contentWrapper{
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  gap: 4px;

  padding: 4px;
  overflow-y: auto;
}
.searchWrapper {
  width: 100%;

  background: var(--pj-border-primary);
  border-radius: 3px;
  padding: 4px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.searchWrapper > label {
  font-weight: 550;
  font-size: 0.75rem;
  text-transform: capitalize;
}

.nothing {
  user-select: none;
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--pj-color-secondary);
  height: 45px;
  padding: 8px;
  font-size: 0.7rem;
  font-weight: 550;
}

.hovered {
  outline: var(--pj-accent-color) 1px dashed;
  opacity: 0.5;
}

.content {
  width: 100%;
  max-width: 100%;
  min-height: 35px;
  display: grid;
  overflow: hidden;
}

.resetButton {
  height: 20px !important;
  width: 20px !important;
  padding: 0 !important;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resetButton:hover {
  color: var(--pj-accent-color) !important;
}

.resetButton > * {
  font-size: 1rem !important;
}

.overflow {

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
