.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 100%;
  justify-self: stretch;
}

.button {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  padding: 0 4px;
  height: 40px;
  max-width: 100%;
  overflow: hidden;
  transition: 150ms linear;
  cursor: pointer;
  border-radius: 3px;
}

.button:hover {
  background: var(--pj-border-primary);
}

.button:active {
  background: var(--pj-background-quaternary);
  opacity: 0.9;
}

.button[data-highlight="true"] {
  background: var(--pj-accent-color) !important;
  color: white !important;
}

.button[data-highlight="true"] > * {
  color: white !important;
}

.modal {
  width: 230px !important;
  position: relative;
  background-color: var(--pj-background-tertiary) !important;
  box-shadow: var(--pj-boxshadow);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.noPadding {
  padding: 0 !important;
}

.searchWrapper {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 25px;
  border-bottom: var(--pj-border-primary) 1px solid;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0 2px;
}

.nothing {
  user-select: none;
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--pj-color-secondary);
  height: 45px;
  padding: 8px;
  font-size: 0.7rem;
  font-weight: 550;
}

.hovered {
  outline: var(--pj-accent-color) 1px dashed;
  opacity: 0.5;
}

.content {
  width: 100%;
  max-width: 100%;
  display: grid;
  overflow: hidden;
}

.resetButton {
  height: 20px !important;
  width: 20px !important;
  padding: 0 !important;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resetButton:hover {
  color: var(--pj-accent-color) !important;
}

.resetButton > * {
  font-size: 1rem !important;
}

.contentWrapper {
  padding: 4px;
}
