.background{
    background: var(--fabric-background-primary) radial-gradient(var(--fabric-border-secondary) 1px, transparent 0);
    background-size: 20px 20px;
    overflow: hidden;
}

.wrapper {
    left: 0;
    top: 0;
    z-index: 0;

}

.prototypeWrapperBoard {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    gap: 4px;

}

.prototypeWrapper {
    padding: 3px 0 0 0 ;
    display: flex;


    height: 100%;
    width: 100%;
    overflow: hidden;

}

.link > * {
    transition: opacity 150ms linear, stroke-width 150ms linear;
    stroke-width: 2;
    opacity: .7;
    pointer-events:all;
}
.link:hover > * {
    opacity: 1;
    stroke-width: 10 !important;
}
.label{
    font-weight: 550;
    font-size: .7rem;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contextWrapper{
    position: absolute;
    width: fit-content !important;
    height: fit-content !important;
    min-height: unset !important;
    max-height: unset !important;
}