.wrapper {
    border-radius: 5px;
    background-color: var(--fabric-background-primary);

    border: var(--fabric-border-primary) 1px solid;
    box-shadow: rgba(0, 0, 0, .2) 2px 2px 4px .1px;
    transition: outline 150ms linear;
    outline: transparent 2px solid;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    min-height: 35px;


}

.attribute {
    width: 100%;
    font-size: .7rem;
    font-weight: 550;
    color: var(--fabric-color-secondary);

    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px;
    height: 25px;

}

.executionConnection {
    width: 20px;
    height: 20px;
    background-color: var(--fabric-background-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--fabric-border-primary) 1px solid;
    transition: 150ms linear;
    border-radius: 3px;
}

.executionConnection > * {
    font-size: 1rem !important;
}

.connection {
    width: 15px;
    height: 15px;
    background-color: var(--fabric-background-secondary);
    border-radius: 50%;
    cursor: grab;
    border: var(--fabric-border-secondary) 1px solid;
}


.connection:hover, .executionConnection:hover {
    border-color: var(--fabric-accent-color);
}

.connection[data-disabled='false'], .executionConnection[data-disabled = 'false'] {
    border-color: initial;
}

.connection[data-disabled = 'true'], .executionConnection[data-disabled = 'true'] {
    cursor: default !important;
    background-color: var(--fabric-background-primary);
}

.label {
    cursor: grab;
    height: 30px;
    display: flex;
    align-items: center;

    gap: 3px;

    padding: 0 4px;
    font-weight: 550;
    font-size: .7rem;
    color: var(--fabric-color-secondary);

    border-left: transparent 3px solid;

    background: var(--fabric-background-tertiary);
    transition: color 150ms linear;

}

.label:active {
    cursor: grabbing;
}

.column {
    width: 100%;
    height: 100%;
    display: grid;
    overflow: visible;

}

.content {
    display: flex;
    height: fit-content;
    overflow: visible;
    background-color: var(--fabric-background-primary);
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
}

.overflow[data-disabled='true'] {
    color: #999999 !important;
}

.showcaseWrapper {
    display: flex;
    align-items: flex-end;

    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    width: 100px;
    color: var(--fabric-color-primary);
    font-size: .7rem;
    font-weight: 550;
}

.error {

    width: 100%;
    color: white;
    height: 15px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 5px;

}

.showcase {
    padding: 4px;
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;

    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: white;
    background: red;
}

.iconWrapper[data-valid = 'true'] {
    background: green;
}

.ioKey {
    width: 100%;
    display: flex;
    align-items: center;

    gap: 8px;
}


.infoWrapper {
    transform: translateX(50%);
    border-radius: 0 5px 5px 0;
    background: var(--fabric-background-secondary);

    color: var(--fabric-color-secondary);

    font-size: .7rem;
    padding: 8px;

    position: absolute;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, .2) 2px 2px 10px 2px;

    text-align: left;
    display: none;
    overflow: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    overflow: hidden;

}


.bundled {
    display: flex;

    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 20px !important;

    max-width: 50px;
    border-radius: 3px;
    background: var(--fabric-background-secondary);
    padding: 2px 4px !important;

    font-size: .7rem !important;
    font-weight: 550;
}