[submodule "scene"]
	path = scene
	url = https://github.com/projection-engine/scene.git
[submodule "files"]
	path = files
	url = https://github.com/projection-engine/file-system.git
[submodule "scripting"]
	path = scripting
	url = https://github.com/projection-engine/visual-scripting.git
 