.wrapper {
  display: flex;
  color: var(--pj-color-secondary);
  border: none;
  width: 100%;
  align-items: center;
  gap: 4px;

  --accentColor: transparent;

  overflow: hidden;
  max-width: 100%;
  user-select: none !important;
  border-left: var(--accentColor) 2px solid;
  height: 25px;
  font-size: 0.7rem;
  background-color: var(--background-input);
  border-radius: 0 3px 3px 0;
  min-width: unset;
  position: relative;
}

.wrapper:active {
  background-color: var(--pj-background-quaternary) !important;

  font-weight: 550;
}

.wrapper:hover {
  background-color: var(--pj-border-primary);
}

.wrapper[data-disabled="true"] {
  background: transparent !important;
  border: var(--pj-border-primary) 1px solid;
  color: #999 !important;
  border-left: var(--accentColor) 2px solid;
}

.button {
  width: 35px !important;
  overflow: hidden;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.draggable {
  /* width: 50px; */
  width: inherit;
  max-width: 100%;
  overflow: hidden;
  cursor: col-resize;
  height: 100%;
  transition: 150ms linear;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  color: var(--pj-color-secondary);
  font-size: inherit;
  text-align: center;
}

.draggable::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
.draggable[type="number"] {
  appearance: textfield;
}

.metricWrapper {
  position: absolute;
  bottom: 0;
  right: 2px;
  font-size: 0.6rem;
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}

.labeledWrapper {
  display: grid;
  width: 100%;
  align-items: center;
  gap: 2px;
}

.labeledWrapper[data-variant="embedded"] {
  display: flex;
  align-items: center;
  background: var(--background-input);
  border-radius: 3px;
  padding-left: 4px;
}

.labeledWrapper > label {
  font-size: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.labeledWrapper[data-variant="embedded"] > label {
  min-width: 15px;
  text-align: center;
}

.divider {
  min-width: 1px;
  min-height: 15px;
  background: var(--pj-background-secondary);
}
