.wrapper {
  display: grid;
  color: var(--pj-color-secondary);
  border: none;
  width: 100%;
  align-items: center;

  --accent-color: transparent;

  overflow: hidden;
  max-width: 100%;
  user-select: none !important;
  font-size: 0.7rem;
  position: relative;
}

.draggable {
  border: none;
  border-left: var(--accent-color) 2px solid;
  background-color: var(--background-input);
  border-radius: 0 3px 3px 0;
  width: inherit;
  max-width: 100%;
  overflow: hidden;
  cursor: col-resize;
  height: 25px;
  transition: 150ms linear;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  color: var(--pj-color-secondary);
  font-size: inherit;
  text-align: center;
}

.draggable:active,
.draggable:focus {
  background-color: var(--pj-background-quaternary) !important;
  font-weight: 550;
}

.draggable:hover {
  background-color: var(--pj-border-primary);
}

.draggable[data-disabled="true"],
.draggable:disabled {
  background: transparent !important;
  border: var(--pj-border-primary) 1px solid;
  color: #999 !important;
  font-weight: normal;
  border-left: var(--accent-color) 2px solid;
}

.draggable::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
.draggable[type="number"] {
  appearance: textfield;
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}

.labeledWrapper {
  display: grid;
  width: 100%;
  align-items: center;
  gap: 2px;
}

.labeledWrapper[data-variant="embedded"] {
  display: flex;
  align-items: center;
  background: var(--background-input);
  border-radius: 3px;
  padding-left: 4px;
}

.labeledWrapper > label {
  font-size: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.labeledWrapper[data-variant="embedded"] > label {
  min-width: 15px;
  text-align: left;
}

.divider {
  min-width: 1px;
  min-height: 15px;
  background: var(--pj-background-secondary);
}
