.wrapper {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 35px;
  user-select: none;
  overflow: hidden;
  background: var(--pj-background-primary);
  border-bottom: var(--pj-border-primary) 1px solid;
}

.draggable {
  width: 100%;
  height: 100%;
  cursor: grab;
  user-select: none;
  -webkit-app-region: drag;
}

.draggable:active {
  cursor: grabbing;
}

.logoWrapper {
  height: 100%;
  overflow: hidden;
  min-width: 54px;
  max-width: 54px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.logo {
  height: 100%;
}

.divider {
  min-width: 1px;
  background: var(--pj-border-primary);
  margin: 4px;
  height: 25px;
}

.title {
  text-align: left;
  color: var(--pj-color-secondary);
  font-weight: 550;
  font-size: 0.8rem;
  white-space: nowrap;
  margin-right: 24px;
}

.dropdown {
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 35px;
  width: fit-content;
  padding: 0 !important;
}

.agreeButton {
  width: 100%;
  height: 35px;
}

.dropdownContent {
  padding: 4px;
  background: var(--pj-border-primary) !important;
}

.button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 8px !important;
  width: fit-content;
  white-space: nowrap;
  font-size: 0.7rem;
  font-weight: 550;
}

.options{
  display: flex;
  height: 100%;
}