.accordion {
    display: grid;
    border: var(--pj-border-primary) 1px solid !important;
    max-width: 100%;
    overflow: hidden;
    background-color: var(--pj-background-primary);
    user-select: none;
    max-height: unset !important;
    min-height: unset !important;
}

.content {
    padding: 4px;

    max-width: 100%;
    overflow: hidden;
    background: var(--pj-background-secondary);
}

.summary {
    height: 25px;
    background-color: var(--pj-border-primary) !important;
    border-radius: 5px 5px 0 0;
    font-size: .75rem !important;

}

.overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.wrapper{
    display: grid;
    width: 100%;
    align-items: center;
    gap: 2px;
}
.wrapper > label{
    font-size: .7rem;
    font-weight: 550;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}