.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 2px;
  padding: 0 !important;
  height: 35px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
}

.button {
  height: 20px;
  width: fit-content;
  font-size: .7rem !important;
  border-radius: 3px;
  font-weight: 550;
  padding: 0 4px !important;
}

.placeholder {
  width: 100%;
  padding: 0 !important;
  background-color: black;
  border-radius: 3px !important;
}



.modal {
  display: flex !important;
  flex-direction: column;
  gap: 4px;
  max-width: 230px !important;
  min-width: 230px !important;
  overflow: hidden;
  max-height: unset !important;
  height: fit-content;
  padding: 15px 4px 4px;

  align-items: center;
  border-radius: 3px;
  background-color: var(--pj-background-tertiary);
  box-shadow: rgb(0 0 0 / 30%) 2px 4px 10px 2px;
  border: var(--pj-border-primary) 1px solid;
}

.inputs {
  color: var(--pj-color-secondary);
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 4px;
}
